@import "bootstrap.less";
@import "responsive.less";
@import "page-curl.less";
@import "grove-nav.less";

.navbar {
  margin-bottom: 5px;
}

.navbar-inner {
  max-height: @navbarHeight;
  background-color: @yellow;
  background-image: none;
  border: 0;
}

hr {
  .boundary();
  border-top-width: 0;
}



h2, h4 {
  font-style: italic;
}

.copy {
  font-family: @serifFontFamily;
  font-style: italic;
  margin-bottom: @gridGutterWidth;
}

.tweak-me {
  margin-top: 5px;
}

.no-margin-top {
  margin-top: 0px;
}

.carousel {
  margin-bottom: 0px;
  img {
    width: 1200px;
  }
}

.teaser img, .banner {
  width: 100%;
}

.sidebar {
  img {
    width: 100%;
  }
}
