---
title: News
change_frequency: daily
layout: page
description: |
  We frequently post information about gatherings, Grove Groups, service
  opportunities, and any other news that's happening around our church.
---

{% for post in paginator.posts %}
  <div class=post>
    {% include byline.html %}

    <h2>{{ post.title }}</h2>

    <p>
      {% if post.summary %}
        {{ post.summary }}
      {% else %}
        {{ post.content | truncatewords:50 | strip_html }}
      {% endif %}
    </p>

    <p><a class=segue href="{{ post.url }}">Continue reading &rarr;</a></p>
  </div>
{% endfor %}

<div class=row>
  <div class="pager span2">
    {% if paginator.page == 2 %}
      <a href=/news/>
        <em>&larr; Previous</em>
      </a>
    {% elsif paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}">Previous</a>
    {% endif %}
    {{ paginator.page }} of {{ paginator.total_pages }}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}">
        <em>Next &rarr;</em>
      </a>
    {% endif %}
  </div>
</div>
