<div class="row">
  <div class="span4">
    <h4>Montgomery's CG</h4>

    <p>
      Young adults
      <strong>&bull;</strong>
      Thursdays at 7:30 P.M.
    </p>

    <p>
      <a href="mailto:stevenmontgomery777+groveatxorg@gmail.com">
        Contact Steven
      </a>
    </p>

    <p>
      <strong>
        <a href="http://www.opaldivines.com/penn-field/">
          Opal Divine's at Penn Field on South Congress
        </a>
      </strong>
    </p>

    {% include maps/montgomery-cg.html %}
  </div>

  <div class="span4 offset1">
    <h4>"MC Hammer"</h4>

    <p>
      Families
      <strong>&bull;</strong>
      Wednesdays at 6:30 P.M.
    </p>

    <p>
      <a href="mailto:toddcurry13+groveatxorg@gmail.com">Contact Todd</a>
    </p>

    <p>
      <strong>
        <a href="https://www.google.com/maps/preview#!q=6404+Convict+Hill+Rd%2C+Austin%2C+TX&data=!4m15!2m14!1m13!1s0x865b4bdf3c354b27%3A0x33101dbc5b4128c7!3m8!1m3!1d3367!2d-97.870379!3d30.226885!3m2!1i1080!2i750!4f13.1!4m2!3d30.226885!4d-97.870379">
          6404 Convict Hill Rd 78749
        </a>
      </strong>
    </p>

    {% include maps/currys.html %}
  </div>
</div>

<div class="row">
  <div class="span4">
    <h4>Wholefoods CG</h4>

    <p>
      Women
      <strong>&bull;</strong>
      Every Other Wednesday at 8:15 P.M.
    </p>

    <p>
      <a href="mailto:jaymeheider1+groveatxorg@me.com">Contact Jayme</a>
    </p>

    <p>
      <strong>
        <a href="https://maps.google.com/maps?q=Whole+Foods+Market,+525+N+Lamar+Blvd,+Austin,+TX&hl=en&ll=30.272189,-97.753558&spn=0.011453,0.01929&sll=30.272476,-97.752936&sspn=0.005726,0.009645&oq=whole+foods+market,+525+N.+Lamar+&hq=Whole+Foods+Market,+525+N+Lamar+Blvd,&hnear=Austin,+Travis,+Texas&t=m&z=16&iwloc=A">
          525 N Lamar Blvd. 78703
        </a>
      </strong>
    </p>

    {% include maps/whole-foods.html %}
  </div>

  <div class="span4 offset1">
    <h4>Interiano's CG</h4>

    <p>
      Families
      <strong>&bull;</strong>
      Wednesdays at 6:00 P.M.
    </p>

    <p>
      <a href="mailto:oscar+groveatxorg@groveatx.org">Contact Oscar</a>
    </p>

    <p>
      <strong>
        <a href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d6274!2d-97.7763996!3d30.2427444">
          South Lamar Neighborhood
        </a>
      </strong>
    </p>

    {% include maps/interiano-cg.html %}
  </div>
</div>

<div class="row">
  <div class="span4">
    <h4>Men's Accountability Group</h4>

    <p>
      Men
      <strong>&bull;</strong>
      Tuesdays at 7:00 P.M.
    </p>

    <p>
      <a href="mailto:samueldramsey+groveatxorg@gmail.com">Contact Sam</a>
    </p>

    <p>
      <strong>
        <a href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d50181!2d-97.7464447!3d30.2683225">
          Location Varies
        </a>
      </strong>
    </p>

    {% include maps/austin.html %}
  </div>
</div>
