<div class="row">
  <div class="span4">
    <h4>Montgomery's CG</h4>
    <a href="mailto:stevenmontgomery777@gmail.com">Email Steven</a><br />
    <strong>
      <a href="http://www.opaldivines.com/penn-field/">
        Opal Divine's at Penn Field on South Congress
      </a>
    </strong>
    {% include maps/montgomery-cg.html %}
  </div>

  <div class="span4 offset1">
    <h4>Village CG</h4>
    <a href="mailto:scott@groveatx.org">Email Scott</a><br />
    <strong>
      <a href="https://maps.google.com">
        1816 Village Oak Ct | Austin TX 78704
      </a>
    </strong>
    {% include maps/heider-cg.html %}
  </div>
</div>

<div class="row">
  <div class="span4">
    <h4>Wholefoods CG ~ Ladies</h4>
    <a href="mailto:jaymeheider1@me.com">Email Jayme</a><br />
    <strong>
      <a href="https://maps.google.com/maps?q=Whole+Foods+Market,+525+N+Lamar+Blvd,+Austin,+TX&hl=en&ll=30.272189,-97.753558&spn=0.011453,0.01929&sll=30.272476,-97.752936&sspn=0.005726,0.009645&oq=whole+foods+market,+525+N.+Lamar+&hq=Whole+Foods+Market,+525+N+Lamar+Blvd,&hnear=Austin,+Travis,+Texas&t=m&z=16&iwloc=A">
        525 N Lamar Blvd. | Austin, TX 78703
      </a>
    </strong>
    {% include maps/whole-foods.html %}
  </div>

  <!-- <div class="span4 offset1"> -->
  <!--   <h4>Wholefoods CG ~ Guys</h4> -->
  <!--   <a href="mailto:scott@groveatx.org">Email Scott</a><br /> -->
  <!--   <strong> -->
  <!--     <a href="https://maps.google.com/maps?q=Whole+Foods+Market,+525+N+Lamar+Blvd,+Austin,+TX&hl=en&ll=30.272189,-97.753558&spn=0.011453,0.01929&sll=30.272476,-97.752936&sspn=0.005726,0.009645&oq=whole+foods+market,+525+N.+Lamar+&hq=Whole+Foods+Market,+525+N+Lamar+Blvd,&hnear=Austin,+Travis,+Texas&t=m&z=16&iwloc=A"> -->
  <!--       525 N Lamar Blvd. | Austin, TX 78703 -->
  <!--     </a> -->
  <!--   </strong> -->
  <!--   {% include maps/whole-foods.html %} -->
  <!-- </div> -->
</div>
