<div class="row">
  <div class="span4">
    <h4>South 1st CG</h4>
    <a href="mailto:stevenmontgomery777@gmail.com">Email Steven</a><br />
    <strong>2900 S  1 St. | Austin TX 78704</strong>
  </div>

  <div class="span4 offset1">
    <h4>Village CG</h4>
    <a href="mailto:scott@groveatx.org">Email Scott</a><br />
    <strong>1816 Village Oak Ct | Austin TX 78704</strong>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h4>Wholefoods CG ~ Ladies</h4>
    <a href="mailto:jaymeheider1@me.com">Email Jayme</a><br />
    <strong>525 N Lamar Blvd. | Austin, TX 78703</strong>
  </div>

  <div class="span4 offset1">
    <h4>Wholefoods CG ~ Guys</h4>
    <a href="mailto:scott@groveatx.org">Email Scott</a><br />
    <strong>525 N Lamar Blvd. | Austin, TX 78703</strong>
  </div>
</div>
