<div class="span3">
  <h4>
    <a target=_blank href="https://maps.google.com/maps?q=Zilker+Elementary+1900+Bluebonnet+Lane+Austin,+TX+78704&amp;hl=en&amp;sll=31.168934,-100.076842&amp;sspn=11.606632,19.753418&amp;t=m&amp;hq=Zilker+Elementary&amp;hnear=1900+Bluebonnet+Ln,+Austin,+Travis,+Texas+78704&amp;z=16&amp;iwloc=A" >
      Sunday Gathering Address
    </a>
  </h4>
  {% include zilker-address.html %}
</div>

<div class="span3">
  <h4>Mailing Address</h4>
  {% include mailing-address.html %}
</div>

<div class="span3">
  <h4>Phone and Email</h4>
  <p>
    512.923.0624<br/>
    Austin, TX 78704<br/>
    <a href="mailto:info@groveatx.org">E-mail us</a>
  </p>
</div>
