<div class=row><hr class=span12 /></div>

<div class=row>
  <div class=span3>
    <p>
      <a href={{ site.facebook }} target=_blank>
        <img src=/img/facebook.png alt="'Like' The Grove on Facebook" />
      </a>
    </p>
    <p>
      <a href={{ site.twitter }} target=_blank>
        <img src=/img/twitter.png alt="Follow The Grove on Twitter" />
      </a>
    </p>
  </div>

  <div class=span3>
    <h4>Sunday Gathering Address</h4>
    {% include zilker-address.html %}
  </div>

  <div class=span3>
    <h4>Mailing Address</h4>
    <p>
      3005 S. Lamar Blvd., Ste. D109 #305<br/>
      Austin, TX 78704<br/>
    </p>
  </div>

  <div class=span3>
    <h4>Phone and Email</h4>
    <p>
      512.660.7901<br/>
      Austin, TX 78704<br/>
    </p>
  </div>
</div>

<div class=row><hr class=span12 /></div>

<div class=row>
  <div class="span12 copy">
    &copy; Copywrite {{ site.time | date: "%Y" }} The Grove. All rights reserved.
  </div>
</div>
