<div class=row><hr class=span12 /></div>

<div class=row>
  <div class=span3>
    <p>
      <a href={{ site.facebook }} target=_blank>
        <img src=/img/facebook.png alt="'Like' The Grove on Facebook" />
      </a>
    </p>
    <p>
      <a href={{ site.twitter }} target=_blank>
        <img src=/img/twitter.png alt="Follow The Grove on Twitter" />
      </a>
    </p>
  </div>

  {% include contact-info.html %}
</div>

<div class=row><hr class=span12 /></div>

<div class=row>
  <div class="span12 copy">
    &copy; Copyright {{ site.time | date: "%Y" }} The Grove. All rights reserved.
  </div>
</div>
