<div class="row">
  <div class="span4">
    <h4 id=montgomery>Montgomery's Group</h4>

    <p><img src="/img/people/montgomerys.jpg" /></p>

    <p>
      Young adults
      <strong>&bull;</strong>
      Thursdays at 7:30 P.M.
      <strong>&bull;</strong>
      <a href="mailto:stevenmontgomery777+groveatxorg@gmail.com">Contact Steven</a>
    </p>

    <p>
      <strong>
        <a href="https://www.google.com/maps/preview#!q=4515+Highland+Terrace%2C+Austin%2C+TX+78731&data=!4m15!2m14!1m13!1s0x8644caed1b3ab707%3A0xc98704be3d5f1ece!3m8!1m3!1d3148!2d-97.7547869!3d30.323121!3m2!1i1280!2i702!4f13.1!4m2!3d30.323121!4d-97.7547869">
          4515 Highland Terrace 78731
        </a>
      </strong>
    </p>
  </div>

  <div class="span4 offset1">
    <h4 id=interiano>Interiano's Group</h4>

    <p><img src="/img/people/interianos.jpg" /></p>

    <p>
      Families
      <strong>&bull;</strong>
      Wednesdays at 6:00 P.M.
      <strong>&bull;</strong>
      <a href="mailto:oscar+groveatxorg@groveatx.org">Contact Oscar</a>
    </p>

    <p>
      <strong>
        <a href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d6274!2d-97.7763996!3d30.2427444">
          South Lamar Neighborhood
        </a>
      </strong>
    </p>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h4 id=ladies>Ladies Group</h4>

    <p><img src="/img/people/jayme.jpg" /></p>

    <p>
      Women
      <strong>&bull;</strong>
      Every Other Wednesday at 8:15 P.M.
      <strong>&bull;</strong>
      <a href="mailto:jaymeheider1+groveatxorg@me.com">Contact Jayme</a>
    </p>

    <p>
      <strong>
        Location Varies Between Homes
      </strong>
    </p>
  </div>

  <div class="span4 offset1">
    <h4 id=mens>Men's Group</h4>

    <p><img src="/img/people/reuben.jpg" /></p>

    <p>
      Men
      <strong>&bull;</strong>
      Tuesdays at 7:00 P.M.
      <strong>&bull;</strong>
      <a href="mailto:reuben.abootorabi+groveatxorg@yahoo.com">Contact Reuben</a>
    </p>

    <p>
      <strong>
        Location Varies
      </strong>
    </p>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h4 id=curry>Curry's Group</h4>

    <p>
      Families
      <strong>&bull;</strong>
      Wednesdays at 6:30 P.M.
      <strong>&bull;</strong>
      <a href="mailto:toddcurry13+groveatxorg@gmail.com">Contact Todd</a>
    </p>

    <p>
      <strong>
        <a href="https://www.google.com/maps/preview#!q=6404+Convict+Hill+Rd%2C+Austin%2C+TX&data=!4m15!2m14!1m13!1s0x865b4bdf3c354b27%3A0x33101dbc5b4128c7!3m8!1m3!1d3367!2d-97.870379!3d30.226885!3m2!1i1080!2i750!4f13.1!4m2!3d30.226885!4d-97.870379">
          6404 Convict Hill Rd 78749
        </a>
      </strong>
    </p>
  </div>
</div>
