<div class=row>
  <div class="span4 logo-container">
    <a href=/><img src=/img/logo.png alt="The Grove Church, Austin Texas" /></a>
  </div>

  <div class="offset1 span7">
    <ul class="nav nav-tabs">
      <li>
        <a href=/contact>Contact</a>
      </li>

      <li class=only-small-screen>
        <a href=/news>News</a>
      </li>

      <li class=dropdown>
        <a class=dropdown-toggle data-toggle=dropdown href=#>
          Gatherings
          <b class=caret></b>
        </a>
        <ul class=dropdown-menu>
          <li><a href=/gatherings/sunday-gathering>Sunday Gathering</a></li>
          <li><a href=/gatherings/community-groups>Community Groups</a></li>
          <li><a href=/gatherings/messages>Message Audio</a></li>
        </ul>
      </li>

      <li class=dropdown>
        <a class=dropdown-toggle data-toggle=dropdown href=#>
          Serving
          <b class=caret></b>
        </a>
        <ul class=dropdown-menu>
          <li><a href=/the-world/sudan>Sudan</a></li>
          <li><a href=/the-world/human-trafficking>Refugees</a></li>
          <li><a href=/austin/serve-austin-sunday>Austin</a></li>
        </ul>
      </li>

      <li class=dropdown>
        <a class=dropdown-toggle data-toggle=dropdown href=#>
          About
          <b class=caret></b>
        </a>
        <ul class=dropdown-menu>
          <li><a href=/about/values-and-beliefs>Values and Beliefs</a></li>
          <li><a href=/about/leaders>Leaders</a></li>
          <li><a href=/about/give>Give</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class=span12><hr class=tweak-me /></div>
</div>
