<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if page.name == "index" %}
      <title>{{ site.title }} - {{ page.title }}</title>
    {% else %}
      <title>{{ page.title }} - {{ site.title }}</title>
    {% endif %}
    <meta name=description content="The Grove Church, Austin, Texas">
    <meta name=viewport content="width=device-width">

    <link rel=stylesheet href=/css/style.css>
  </head>
  <body>

    <div class="navbar-static-top">
      <div class=container>
        <div class=row>
          <div class="column span6 offset6">
            &nbsp;
            <a class=news href=/news><img src=/img/news.png /></a>
          </div>
        </div>
      </div>
    </div>


    {{ content }}

    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/page.js"></script>
  </body>
</html>

