<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if page.name == "index" %}
      <title>{{ site.title }} - {{ page.title }}</title>
    {% else %}
      <title>{{ page.title }} - {{ site.title }}</title>
    {% endif %}

    {% if page.description %}
      <meta name=description content="{{ page.description }}">
    {% else %}
      <meta name=description content="The Grove Church, Austin, Texas">
    {% endif %}

    <meta name=viewport content="width=device-width">

    <link rel=stylesheet href=/css/style.css>

    <link rel="apple-touch-icon"                  href="/apple-touch-icon-57x57.png"   />
    <link rel="apple-touch-icon" sizes="72x72"    href="/apple-touch-icon-72x72.png"   />
    <link rel="apple-touch-icon" sizes="114x114"  href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144"  href="/apple-touch-icon-144x144.png" />
  </head>
  <body>

    <div class=grove-navbar>
      <div class=container>
        <div class=row>
          <div class="column span6 offset6">
            &nbsp;
            <!-- <a class=news href="/news/"><img src=/img/news.png alt="News" /></a> -->
          </div>
        </div>
      </div>
    </div>


    {{ content }}

    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <script src="/js/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-45308206-1', 'groveatx.org');
      ga('send', 'pageview');
    </script>
  </body>
</html>

