---
layout: default
---
<div class=container>
  {% include nav.html %}

  <div class=row>
    <div class=span12>
      <div class=page-curl>
        <div class=page-curl-inner>
          <div class="carousel slide" data-pause=hover>
            <ol class=carousel-indicators>
              <li data-target=".carousel" data-slide-to=0 class=active></li>
              <li data-target=".carousel" data-slide-to=1></li>
              <li data-target=".carousel" data-slide-to=2></li>
              <li data-target=".carousel" data-slide-to=3></li>
            </ol>

            <div class=carousel-inner>
              <div class="active item">
                <a href="/gatherings/sunday-gathering/">
                  <img src=/img/sermon-series/next.jpg alt="Sermon series: Next" />
                </a>
              </div>
              <div class=item>
                <a href="/serve/">
                  <img src=/img/serve-austin.jpg alt="Join us in serving Austin" />
                </a>
              </div>
              <div class=item>
                <a href="/gatherings/grove-groups/">
                  <img src=/img/grove-groups.jpg alt="Join a Grove group" />
                </a>
              </div>
              <div class=item>
                <a href="/about/give/">
                  <img src=/img/give.jpg alt="Give online to support Grove ministries" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="span12 no-margin-top" />
  </div>

  <div class="teaser row">
    <div class=span3>
      <h4>Jesus</h4>
      <p>
        There has been none like Jesus.  No one has shaped the course of human
        history or has impacted more lives then Him.   More books have been
        written about Him, more paintings have been painted of Him and more
        songs have been sung&hellip;
        <a href="/jesus/">Learn more</a>
      </p>
      <a href="/jesus/">
        <img src=/img/frontpage/spinning-trees.jpg alt="Who is Jesus?" />
      </a>
    </div>

    <div class=span3>
      <h4>Disciples</h4>
      <p>
        A disciple is a &ldquo;learner.&rdquo; That’s what the word means. A
        disciple is someone in pursuit of becoming like Jesus in every way.
        Jesus took on his disciples to teach them what He knew, showing them
        what to do so that they could do&hellip;
        <a href="/disciple/">Learn more</a>
      </p>
      <a href="/disciple/">
        <img src=/img/frontpage/railroad-tracks.jpg alt="What does it mean to be a disciple?" />
      </a>
    </div>

    <div class=span3>
      <h4>When & Where</h4>
      <p>
        We have a couple of different gatherings throughout central Austin. Our
        celebration gathering is every Sunday at 10am @ Zilker Elementary.
        Check our Grove Groups page to see the various groups that meet and
        email the leader&hellip;
        <a href="/gatherings/sunday-gathering/">Learn more</a>
      </p>
      <a href="/gatherings/sunday-gathering/">
        <img src=/img/frontpage/tree-grove.jpg alt="Join us for our Sunday gathering" />
      </a>
    </div>

    <div class=span3>
      <h4>Get Involved</h4>
      <p>
        There are many ways that you can involved with The Grove Church.
        Everyone is welcome to join in regardless of where you are with Jesus.
        One of the best and quickest ways to get involved is to contact us so
        that we can share with you&hellip;
        <a href="/contact/">Learn more</a>
      </p>
      <a href="/contact/">
        <img src=/img/frontpage/bridge.jpg alt="Everyone is welcome to get involved" />
      </a>
    </div>
  </div>

  {% include footer.html %}
</div>
