---
layout: page
---

<img class="banner" src="/img/ledgers.jpg" />

<h2>Leaders</h2>

<div class="row">
  <div class="span4">
    <h4>Heider | Lead Pastor</h4>

    <p>
      Scott is the founding and lead pastor of The Grove. He and his wife,
      Jayme, have been married 11+ years and have three children. He studied
      international business at Baylor and received his theological degree from
      Fuller Seminary.
    </p>
  </div>

  <div class="span4 offset1">
    <h4>Jonathan Patton | Elder</h4>

    <p>
      Jonathan is a lifelong entrepreneur with experience launching,
      capitalizing and operating multiple ventures. He and his wife, Anne, have
      have a son with a daughter on the way. He is a native of South
      Carolina…but we don’t hold that against him.
    </p>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h4>Oscar Interiano | Elder</h4>

    <p>
      Oscar is a musician by trade and passion. He spent much of his career on
      the road canvassing the country with his band. He now enjoys the settled
      life here in Austin with his wife, Jennifer, and his two daughters.
    </p>
  </div>

  <div class="span4 offset1">
    <h4>Aaron Stacy | Elder</h4>

    <p>
      Aaron and his wife Ashly moved to Austin in 2009 from Indiana and they've
      loved it ever since. He is a software engineer at a local startup and is
      pursuing a master's degree in computer science at University of Texas.
    </p>
  </div>
</div>
