---
layout: page
---

<h2>Leaders</h2>

<div class="leaders row">
  <div class="span4">
    <h4>Reid Johnson | Pastor</h4>
    <p><img src=/img/leaders/reid.jpg /></p>

    <p>
      Reid and wife Jaci are both graduates of the University of Texas at
      Austin and were called to church plant during those collegiate years.
      They have two sons and a Chihuahua.
    </p>
  </div>

  <div class="span4 offset1">
    <h4>Matt Jones | Elder</h4>
    <p><img src=/img/leaders/matt.jpg /></p>

    <p>
      Matt and his wife Afton have been married six and a half years. He
      studied literature and philosophy at Texas Tech. They have two lively
      kids, Beck and Sawyer. They felt called to church plant last year and
      soon after moved to Austin to seek out that calling.
    </p>
  </div>
</div>

<div class="leaders row">
  <div class="span4">
    <h4>Tony Doland | Elder</h4>
    <p><img src=/img/leaders/tony.jpg /></p>

    <p>
      Tony has been married to his wife Natalie for 6 years and has three
      children. Tony has a degree in Biblical Studies for The Criswell College.
    </p>
  </div>

  <div class="span4 offset1">
    <h4>Oscar Interiano | Elder</h4>
    <p><img src=/img/leaders/oscar.jpg /></p>

    <p>
      Oscar is a musician by trade and passion. He spent much of his career on
      the road canvassing the country with his band. He now enjoys the settled
      life here in Austin with his wife, Jennifer, and his two daughters.
    </p>
  </div>
</div>

<div class="leaders row">
  <div class="span4">
    <h4>Jonathan Patton | Elder</h4>
    <p><img src=/img/leaders/jonathan.jpg /></p>

    <p>
      Jonathan is a lifelong entrepreneur with experience launching,
      capitalizing and operating multiple ventures. He and his wife, Anne, have
      have a son and a daughter. He is a native of South Carolina&hellip; but
      we don’t hold that against him.
    </p>
  </div>

  <div class="span4 offset1">
    <h4>Aaron Stacy | Elder</h4>
    <p><img src=/img/leaders/aaron.jpg /></p>

    <p>
      Aaron and his wife Ashly moved to Austin in 2009 from Indiana and they've
      loved it ever since. He is a software engineer at a local startup and is
      pursuing a master's degree in computer science at University of Texas.
    </p>
  </div>
</div>
